[mysqld]
sql-mode="NO_ENGINE_SUBSTITUTION"

#default-time-zone = 'Asia/Tokyo'
character-set-server = utf8
collation-server = utf8_general_ci

log_error_verbosity = 3

general_log = on
general_log_file=/var/log/mysql/query.log

slow_query_log = on
long_query_time = 0.5
log_queries_not_using_indexes = 1
slow_query_log_file = /var/log/mysql/slow-query.log

[client]
default-character-set = utf8
